
.idea/backend_api_rest_django_binar10.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
config/__pycache__/__init__.cpython-39.pyc
config/__pycache__/urls.cpython-39.pyc
config/__pycache__/wsgi.cpython-39.pyc
config/settings/__pycache__/__init__.cpython-39.pyc
config/settings/__pycache__/base.cpython-39.pyc
config/settings/__pycache__/local.cpython-39.pyc
backend_api/__pycache__/__init__.cpython-39.pyc
backend_api/entitys/__pycache__/__init__.cpython-39.pyc
backend_api/entitys/__pycache__/admin.cpython-39.pyc
backend_api/entitys/__pycache__/apps.cpython-39.pyc
backend_api/entitys/__pycache__/models.cpython-39.pyc
backend_api/entitys/migrations/0001_initial.py
../../../Documents/Coockierp/customers/__pycache__/__init__.cpython-39.pyc
../../../Documents/Coockierp/customers/__pycache__/admin.cpython-39.pyc
../../../Documents/Coockierp/customers/__pycache__/apps.cpython-39.pyc
../../../Documents/Coockierp/customers/__pycache__/models.cpython-39.pyc
../../../Documents/Coockierp/customers/migrations/0001_initial.py
../../../Documents/Coockierp/customers/migrations/0002_alter_customer_entity.py
../../../Documents/Coockierp/customers/migrations/__pycache__/0001_initial.cpython-39.pyc
../../../Documents/Coockierp/customers/migrations/__pycache__/0002_alter_customer_entity.cpython-39.pyc
../../../Documents/Coockierp/customers/migrations/__pycache__/__init__.cpython-39.pyc
backend_api/utils/__pycache__/__init__.cpython-39.pyc
backend_api/utils/__pycache__/baseModel.cpython-39.pyc
backend_api/entitys/api/views/__pycache__/entitys.cpython-39.pyc
*.xml
*.xml
.idea/dataSources.xml
